body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('img/fondo.png') center center / cover no-repeat;
  z-index: -1;
}

nav {
  background-color: #000000;
  color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #11ac33;
    font-weight: bold;
}

footer {
  background-color: #000000; 
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px; /* add margin to create space between form and footer */
}

label, input, select, textarea {
  display: block;
  margin-bottom: 15px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; 
  border: 1px solid #ccc; 
  border-radius: 4px;
}

button {
  background-color: #795ca0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #795ca0;
}

.card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
}