body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../img/fondo.png') center center / cover no-repeat;
  z-index: -1;
}

nav {
  background-color: #000000;
  color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
}

.left-column .card {
  margin-top: 20px;
  background-color: solid #ccc;
}

.right-column {
  background-color: #f3f3f3b0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 20px;
  width: 40%;
  margin-top: 20px;
  height: 150%;
  bottom: 0;
}


footer {
  background-color: #000000; 
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: auto;
  width: 100%;
}

