.navbar {
    background-color: #D8D2F3;
 }

 .navbar-brand {
    color: #3A3181;
 }

 .navbar-nav .nav-link {
    color: #3A3181;
 }

 footer {
    background-color: #000;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
 }